@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700')

@font-face
	font-family: 'beyond_the_mountains'
	src: url('../assets/fonts/Beyond/beyond_the_mountains.eot')
	src: url('../assets/fonts/Beyond/beyond_the_mountains.eot') format('embedded-opentype'),url('../assets/fonts/Beyond/beyond_the_mountains.woff2') format('woff2'),url('../assets/fonts/Beyond/beyond_the_mountains.woff') format('woff'),url('../assets/fonts/Beyond/beyond_the_mountains.ttf') format('truetype'), url('../assets/fonts/Beyond/beyond_the_mountains.svg#beyond_the_mountains') format('svg')

@font-face 
    font-family: 'gothambook'
    src: url('../assets/fonts/GothamBook/gothambook.eot')
    src: url('../assets/fonts/GothamBook/gothambook.eot') format('embedded-opentype'), url('../assets/fonts/GothamBook/gothambook.woff2') format('woff2'), url('../assets/fonts/GothamBook/gothambook.woff') format('woff'), url('../assets/fonts/GothamBook/gothambook.ttf') format('truetype'), url('../assets/fonts/GothamBook/gothambook.svg#gothambook') format('svg')

@font-face 
    font-family: 'GothamBold'
    src: url('../assets/fonts/GothamBold/GothamBold.eot')
    src: url('../assets/fonts/GothamBold/GothamBold.eot') format('embedded-opentype'),url('../assets/fonts/GothamBold/GothamBold.woff2') format('woff2'), url('../assets/fonts/GothamBold/GothamBold.woff') format('woff'), url('../assets/fonts/GothamBold/GothamBold.ttf') format('truetype'), url('../assets/fonts/GothamBold/GothamBold.svg#GothamBold') format('svg')



