.slideHome
    display: block
    margin-bottom: 30px
    width: 100%
    .swiper-wrapper
        .swiper-slide
            img
                display: block
                width: 100%
    .swiper-pagination-bullet
        background-color: #fff
        opacity: 1
        &.swiper-pagination-bullet-active
            background-color: #e1b606