.desconto
    background-image: url('../assets/images/bg-desconto.jpg')
    background-size: cover
    background-position: center center
    display: block
    padding: 25% 20px 30px
    .conteudo
        display: block
        margin: auto
        max-width: 1266px
        width: 100%
        img
            display: block
            width: 100%
        .clube
            background-color: #daac34
            display: block
            margin-bottom: 20px
            padding:  70px 15px 15px
            position: relative
            width: 100%
            +media(800px)
                width: 40%
            &:after
                background-color: #5d928b
                content: ''
                position: absolute
                height: 50px
                width: 100px
                top: -5px
                left: calc(50% - 50px)

            .titulo
                color: #5d928b
                font-family: 'beyond_the_mountains'
                font-size: 80px
                margin-bottom: 15px
                text-align: center
                line-height: 1
                display: flex
                flex-flow: column nowrap
                align-items: center
                justify-content: flex-start
                span
                    font-size: 30px
                +media(900px)
                    font-size: 150px
                    margin-bottom: 30px
                    span
                        font-size: 60px
            .branco
                background-color: #fff
                color: #666
                font-size: 20px
                margin-bottom: 15px
                padding: 10px
                span
                    font-family: 'GothamBold'
                +media(900px)
                    font-size: 20px
            .sou-associaado
                margin: auto
                display: table
                background-color: #5d928b
                color:  #daac34
                padding: 2px 5px
                width: fit-content
                span
                    font-family: 'GothamBold'
