.diferencial
    background-color: #f1b300
    background-image: url('../assets/images/bg-yellow.jpg')
    background-position: center center
    background-size: cover
    display: block
    padding: 50px 20px
    width: 100%
    .conteudo
        display: block
        margin: 0 auto
        max-width: 870px
        width: 100%
        .titulo
            color: #5d928b
            font-family: 'beyond_the_mountains'
            font-size: 50px
            text-align: center
            +media(900px)
                font-size: 100px
        .lista
            align-items: center
            display: flex
            flex-flow: column nowrap
            padding: 30px 0
            width: 100%
            .item
                align-items: flex-start
                display: flex
                justify-content: space-between
                margin-bottom: 70px
                width: 100%
                .icon
                    display: none
                    width: 105px
                    +sm
                        display: block
                    img
                        display: block
                        height: auto
                        width: 100%
                .texto
                    border-bottom: 7px solid #e2a531
                    display: block
                    width: 100%
                    +sm
                        width: calc(100% - 160px)
                    .titulo
                        font-family: 'gothambook'
                        font-size: 35px
                        margin-bottom: 20px
                        text-align: left
                        span
                            font-family: 'GothamBold'
                        +media(900px)
                            font-size: 45px
                    p
                        color: #5d928b
                        font-size: 21px
                        font-family: 'GothamBold'
                        margin-bottom: 30px
                    
