footer
    background-color: #5d928b
    display: block
    padding: 30px 0 0
    width: 100%
    .conteudo
        display: block
        margin: 0 auto 30px
        max-width: 1010px
        padding: 0 20px 
        width: 100%
        img
            display: block
            width: 100%
    .bar
        background-color: #fff
        display: block
        text-align: center
        padding: 10px
        width: 100%
    