.meu-memori
    background-color: #fff
    display: block
    padding: 30px 20px
    width: 100%
    .conteudo
        display: block
        margin: 0 auto
        max-width: 740px
        width: 100%
        img
            display: block
            margin: 0 auto
            max-width: 208px
            width: 100%
        .meu-memori-form
            align-items: center
            display: flex
            flex-flow: column nowrap
            padding: 20px 0 0
            width: 100%
            input
                appearance: none
                background-color: #5d928b
                border: 0px
                border-radius: 10px
                color: white
                display: block
                font-size: 28px
                margin-bottom: 15px
                padding: 15px 20px
                width: 100%

                &::-webkit-input-placeholder
                    color: white
                    opacity: 1
                &::-moz-placeholder
                    color: white
                    opacity: 1
                &:-ms-input-placeholder
                    color: white
                    opacity: 1
                &:-moz-placeholder
                    color: white
                    opacity: 1
            select
                background-color: #5d928b
                border: 0px
                border-radius: 10px
                color: white
                display: block
                font-size: 28px
                margin-bottom: 15px
                padding: 15px 20px
                width: 100%
            button
                appearance: none
                border: 0
                background-color: rgba(255, 255, 255, 0)
