.parceiros
    display: block
    padding: 50px 20px
    width: 100%
    .conteudo
        border-bottom: 5px solid #5d928b
        display: block
        margin: auto
        max-width: 1130px
        padding-bottom: 30px
        width: 100%
        .titulo
            color: #5d928b
            font-family: 'beyond_the_mountains'
            font-size: 50px
            text-align: center
            +media(900px)
                font-size: 80px
        .slides-parceiros
            padding: 20px 50px
            .swiper-wrapper
                display: flex
                align-items: center
                .swiper-slide
                    img
                        display: block
                        width: 100%
            .swiper-button-next, .swiper-button-prev 
                filter: hue-rotate(-38deg) brightness(0.90)
