.planos
    background-color: #e7e6e6
    display: block
    padding: 30px 20px
    width: 100%
    .conteudo
        display: block
        max-width: 1220px
        margin: 0 auto
        width: 100%
        .titulo
            color: #5d928b
            font-family: 'beyond_the_mountains'
            font-size: 70px
            text-align: center
            +media(900px)
                font-size: 100px
        a
            display: block
            margin: 60px 0
            width: 100%
        img
            display: block
            width: 100%
