header
    .main
        display: block
        padding: 20px 10px
        margin: 0 auto
        max-width: 1131px
        width: 100%
        .conteudo
            display: flex
            align-items: center
            flex-flow: row wrap
            justify-content: center
            width: 100%
            +media(800px)
                justify-content: space-between

            .logo
                display: block
                height: auto
                max-width: 476px
                width: 100%
                min-width: 200px
                +md
                    margin-right: 10px
                    width: auto
            .tag
                display: block
                height: auto
                max-width: 100px
                +md
                    max-width: 146px
                    width: auto
            img
                display: block
                width: 100%
            .menu
                ul
                    li
                        a
                            color: #5d928b
                            font-size: 12px