.vantagens
    background-color: #e7e6e6
    display: block
    padding: 30px 20px
    width: 100%
    .conteudo
        align-items: stretch
        display: flex
        flex-flow: row wrap
        margin: auto
        justify-content: space-between
        max-width: 1270px
        width: 100%
        .clube
            background-color: #5d928b
            display: block
            margin-bottom: 20px
            padding: 15px
            width: 100%
            +media(800px)
                width: 40%
            .titulo
                color: white
                font-family: 'beyond_the_mountains'
                font-size: 30px
                padding: 20px

                margin: 0 auto 25px
                text-align: center
                +media(900px)
                    font-size: 60px
            .branco
                background-color: #fff
                color: #666
                font-size: 20px
                margin-bottom: 15px
                padding: 10px
                span
                    font-family: 'GothamBold'
                +media(900px)
                    font-size: 20px
            .sou-associaado
                margin: auto
                display: table
                background-color: #daac34
                color: #5d928b
                padding: 2px 5px
                width: fit-content
                span
                    font-family: 'GothamBold'
        .form
            display: block
            margin-bottom: 20px
            padding: 15px
            width: 100%
            +media(800px)
                width: 55%
            img
                display: block
                margin: 0 auto
                max-width: 208px
                width: 100%
            .meu-memori-form
                align-items: center
                display: flex
                flex-flow: column nowrap
                padding: 20px 0 0
                width: 100%
                input
                    appearance: none
                    background-color: #5d928b
                    border: 0px
                    border-radius: 10px
                    color: white
                    display: block
                    font-size: 28px
                    margin-bottom: 15px
                    padding: 15px 20px
                    width: 100%

                    &::-webkit-input-placeholder
                        color: white
                        opacity: 1
                    &::-moz-placeholder
                        color: white
                        opacity: 1
                    &:-ms-input-placeholder
                        color: white
                        opacity: 1
                    &:-moz-placeholder
                        color: white
                        opacity: 1
                select
                    background-color: #5d928b
                    border: 0px
                    border-radius: 10px
                    color: white
                    display: block
                    font-size: 28px
                    margin-bottom: 15px
                    padding: 15px 20px
                    width: 100%
                button
                    appearance: none
                    border: 0
                    background-color: rgba(255, 255, 255, 0)
